.husky
.github
.vscode/**
.vscode-test/**
out/test/**
src/**
.eslintrc.json
.gitignore
.prettierignore
.prettierrc.json
.vscodeignore
commitlint.config.js
tsconfig.json
vsc-extension-quickstart.md
**/*.map
**/*.ts
.DS_Store
.git/**
.nyc_output
node_modules
